<!DOCTYPE html>

<html>
    <head>
        <title>Lucas' URL Shortener - Error</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body class="content-body">
        <h1 class="title">Lucas' URL Shortener</h1>
        <h1 class="subtitle">Error</h1>

        <h1 class="section-header">Error - {{ message }}</h1>
        <a href="{{ url_for('homepage') }}">return</a>
    </body>
</html>
